
/* LISTAGEM DE CURSOS */
.card {
    max-width: 600px;
}

.card-body a,
.modify button{
    color: #fd7e14;
}

.card-body{
    a {
        text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }

    }

    .card-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* CADASTRO DE CURSOS */
.input-time-as {
    width: 120px;
}

.input-date {
    width: 145px;
}