/* LISTAGEM DE CURSOS */
.card {
  max-width: 360px;
}

.course-image {
  height: 200px;
  object-fit: cover;
}

.card-body a,
.modify button {
  color: #fd7e14;
}

.card-body {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-container {
  background: #041c39;
}

.logo-cards {
  width: 100px;
  bottom: 10px;
  right: 10px;
}

.filter-course {
  max-width: 180px;
  height: 100%;
}

.pagination-courses a {
  color: #fd7e14;

  &:hover {
    color: #e47011;
  }
}

/* CURSOS */

.detail-course-hour {
  background-color: #fd5f00 !important;
}

.course-date {
  background-color: #041c39 !important;
}

/* CADASTRO DE CURSOS */

.input-time-as {
  width: 100px;
}

.input-date {
  width: 145px;
}

.btn-add-course {
  background-color: #fd7e14;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-weight: 600;

  &:hover {
    background-color: #e47011;
    transition: 0.2s ease-in-out;
  }
}

#id_image_course {
  color: #fd7e14;
}

.input-image-formats {
  font-size: 12px;
  padding: 5px;
}

/* LISTAGEM DE CURSOS PAINEL ADM */

.tag {
  padding: 3px 6px;
  color: #ffffff;
  border-radius: 5px;

  font-size: 10px;
  font-weight: bold;

  &.open {
    background-color: #004e98;
  }

  /*vagas encerradas*/
  &.soldout {
    background-color: #fd7e14;
  }

  /*fechado*/
  &.close {
    background-color: #e5383b;
  }

  /*fora do período*/
  &.closed {
    background-color: #6c757d;
  }
}

.filter-group {
  button {
    border: none;
    outline: none;
    height: 58px;
    font-weight: 500;
  }

  .form-button {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: 1px solid #dee2e6;

    &:hover,
    &.active {
    background-color: #004e98;
    color: #fff;
        }
  }
}

.input-search {
  width: 40%;
}

.edit-table {
  td, th {
    vertical-align: middle !important;
  }

  min-width: 100%;
  overflow-y: scroll;
}

.icon-list i {
  color: #fd7e14;
  padding: 5px;
  border-radius: 5px;
}

.trash {
  border: none;
  background-color: transparent;
  padding: 0px;
}

.header-buttons {
  .header-export,
  .header-add-course {
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px !important;

    i {
      font-size: 20px;
    }
  }

  .header-export {
    color: #212519;

    &:hover {
      transition: 0.2s ease-in-out;
      background-color: #004e98;
      border: 1px solid #004e98;
      color: #ffffff;
    }
  }

  .header-add-course {
    background-color: #fd7e14;
    border: 1px solid #fd7e14;

    &:hover {
      transition: 0.2s ease-in-out;
      background-color: #e47011;
    }
  }
}

.submenu-header {
  .nav-item {
    a {
      color: #212519;
      font-weight: 400;
    }

    span.text-bg-secondary {
      background-color: #f0f1f5 !important;
      color: #212519 !important;
      font-weight: 500;
    }

    .active {
      color: #e47011 !important;
      font-weight: 500 !important;

      border-top: 1px solid #e47011 !important;
      border-left: 1px solid #e47011 !important;
      border-right: 1px solid #e47011 !important;

      .text-bg-secondary {
        background-color: #fff9e1 !important;
        color: #e47011 !important;
      }
    }
  }
}

/* UPDATE CURSOS */

.image-preview-course {
  width: 250px;
  object-fit: cover;
  height: 150px;
}

/* ADD ESTUDANTE */

.container-enrollment {
  min-height: 100vh;
}

.image-container-enrollment {
  .img-header-enrollment {
    height: 650px;
    max-width: 500px;
    min-width: 350px;
  }

  img {
    object-fit: cover;
    height: 100%;
  }
}

/* FORMULÁRIO DE INSCRIÇÃO */
.content-enrollment {
  input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #e4701179;
    font-size: 14px;

    &:focus {
      box-shadow: none;
      border-bottom: 2px solid #fd7e14;
    }
  }

  input.date-btn-student {
    font-size: 1rem !important;
    color: #495057 !important;
  }

  h4 {
    color: #fd7e14;
  }

  select {
    color: #495057 !important;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #e4701179;
    padding-left: 0px;

    min-width: 190px;

    &:focus {
      box-shadow: none;
      border-bottom: 2px solid #fd7e14;
    }
  }

  .select-gender {
    label {
      position: relative;
      bottom: -9px;

      font-size: 14px;
    }
  }
}

.details-enrollment {
  right: 8px;
  bottom: 50px;

  i {
    color: #fd7e14;
  }
}

.btn-disabled {
  background-color: #6c757d;
  cursor: not-allowed;

  &:hover {
    background-color: #6c757d;
  }
}

// MENU

.links-container {
  a:hover i {
    color: #fd7e14;
    transition: 0.2s ease-in-out;
  }
}

.logo-header {
  height: 65px;
}

.slider-img-1 {
  background-image: url(../assets/img/slide/header-2.jpg);
}

.slider-img-2 {
  background-image: url(../assets/img/slide/header-student.jpg);
}

// FAQ
.bg-img2 {
  background-image: url(../assets/img/img2.jpg);
}

//FOOTER
.bg-img-footer1 {
  background-image: url(../assets/img/insta/turma_engc.jpg);
}

.bg-img-footer2 {
  background-image: url(../assets/img/insta/turma_farmacia.jpg);
}

.bg-img-footer3 {
  background-image: url(../assets/img/insta/biblioteca.jpg);
}

.bg-img-footer4 {
  background-image: url(../assets/img/insta/workshop.jpg);
}

.bg-img-footer5 {
  background-image: url(../assets/img/insta/turma_engc.jpg);
}

.logo-footer img {
  height: 65px;
  width: 252px;
  margin-top: -23px;
}

.logo-emec img {
  height: 65px;
}

.hero-wrap .overlay {
  background-color: #fd7e14 !important;
}

/* ADMIN */
.bg-blue {
background-color: #dee2e611;
}

.detail-log-user {
  font-size: 12px;
  margin-top: -5px;
}

.font-table {
  font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.view-table {
  overflow-x: auto;
  white-space: nowrap;
  transform: rotate(180deg);

  table {
    transform: rotate(180deg);
  }
}

/* AJUSTE DATA TABLES */

.dt-buttons,
.dt-info {
  display: none;
}

.block-click {
  .dt-column-order {
    display: none;
  }
  pointer-events: none;
}
